<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body>
    <img id="firebaseImg" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pioneertoyota.com%2Fevents.html&psig=AOvVaw33o-6YUgkD-2DgZelvJ68m&ust=1651763797515000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCOjgj9yJxvcCFQAAAAAdAAAAABAD"/>
</body>
</html>

<script>
    document.getElementById("firebaseImg").src = getFileUrl("documentName")


    function getFileUrl(filename) {
        //create a storage reference
        var storage = firebase.storage().ref(filename);

        //get file url
        storage
          .getDownloadURL()
          .then(function(url) {
            console.log(url);
          })
          .catch(function(error) {
            console.log("error encountered");
          });
      }
</script>